/* default.css */
body
{
	font: 13.5px sans-serif;
	line-height: 20px;
	max-width: 950px;
	-webkit-font-smoothing: antialiased;
	text-align: justify;
}


h1
{
	padding: 0;
    color: rgb(65, 131, 196);
    margin: 0 auto;
	padding-top: 18px;
}

#index
{
    margin-top: 15px;
	margin-left: 15px;
    width: 160px;
    position: absolute;
    left: 8px;
    padding: 8px;
    background: #fafafa;
    padding-top: 12px;
    padding-left: 6px;
	padding-right: 12px;
	padding-bottom: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
	
}

#content
{
	margin-left: 220px;
}



.classList li
{
	padding: 0;
	margin: 0 0 8px 0;
}

.summaryTable { 
	width: 100%; 
}


h2 { font-size: 110%; }
caption, div.sectionTitle
{
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    background-color: #fafafa;
    line-height: 25px;
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
	text-align: left;
	padding: 2px 6px 2px 6px;
	border: 1px rgb(216, 216, 216) solid;
}

div.sectionTitle { margin-bottom: 8px; }
.summaryTable thead { display: none; }

.summaryTable td
{
	vertical-align: top;
	padding: 4px;
	border-bottom: 1px rgb(216, 216, 216) solid;
	border-right: 1px rgb(216, 216, 216) solid;
	border-left: 1px rgb(216, 216, 216) solid;
}

/*col#summaryAttributes {}*/
.summaryTable td.attributes
{
	border-left: 1px;
	width: 140px;
	text-align: right;
	
}

td.attributes, .fixedFont
{
	color: rgb(2, 74, 8);
	font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.summaryTable td.nameDescription
{
	text-align: left;
}

.summaryTable { margin-bottom: 8px; }



.detailList .heading
{
	font-weight: bold;
	padding-bottom: 6px;
	margin-left: 0;
}


.classList {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 8px;
  font-family: sans-serif;
  font-size: 1em;
  overflow: auto;
}


a { color:#4285f4;
	text-decoration: none;
} 

hr {
  border: 0;
  border-top: 1px solid rgb(216, 216, 216);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

td.nameDescription.fixedFont {
	color: rgb(0, 0, 0);
	
}

span.light {
  color: rgb(148, 149, 155);
  font-weight: bold;
}

pre {
  background: #fafafa;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  /* border: 1px solid rgba(0, 0, 0, 0.1);  */
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(124, 19, 0);
}